<<<<<<< HEAD
/* CSS News */
*{
    box-sizing: border-box;
}

.news__content {
    width: 60%;
    display: block;
    height: 175px;
    position: relative;
}


.news__background {
    background-image: url(../images/back-news.png);
    height: 150px;
    max-width: 100%;
    display: block;
    background-size: cover;
    background-repeat: none;
    background-position:center;
    margin: 0 auto;
}

.news__menu{
   width: 100%;
   position: absolute;
   bottom: 25px;
   left: 250px;
}

.news__menu .nav-item .nav-link{
    background-color: transparent;
    color: black;
    font-size: 20px;
}

.news__menu .nav-item .nav-link:hover{
    font-size: 25px;
    transition: all 0.5s;
}

.news__menu .nav-item .nav-link.active{
    color: orange;
    font-size: 25px;
    transition: all 0.5s;
}

.news__firstRow, .news__secondRow {
    width: 85%;
    margin: 0px auto;
}

.news__firstRow img {
    height: 250px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.news__firstRow a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: justify;
    line-height: 42px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.news__firstRow p{
    font-size: 13px;
    text-align: justify;
    line-height: 19px;
    padding-right: 2px;
    display: block;
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4a4a4a;
}

.likeSub{
    padding-top: 1px;
}

.likeSub span{
    margin-right: 20px;
}

.news__secondRow img{
    height: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.news__secondRow a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: justify;
    line-height: 19px;
    height: 37px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.news__secondRow p{
    width: 100%;
    padding-top: 5px;
    font-size: 13px;
    text-align: justify;
    line-height: 19px;
    padding-right: 2px;
    display: block;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4a4a4a;
}

.news__secondRow__col3 img{
    height: 50px;
    width: 50px;
    display: block;
}

.news__secondRow__col3 a{
    max-width: 100%;
    height: 42px;
    line-height: 20px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    font-weight: unset;
    text-align: left;
    color: #4a4a4a;
    text-decoration: none;
}

/* footer */
.footer__container{
    background-color:#222;
}
.footer__firstPart{
    width: 60%;
}

.footer__firstPart__title{
    font-size: 12px;
}

.footer__firstPart a{
    font-size: 12px;
    font-weight: bold;
}

.footer__firstPart div:nth-child(1) a, .footer__firstPart div:nth-child(2) a{
    display: block;
    margin-top: 12px;
    color:#949494;  
    text-decoration: none;
}

.footer__firstPart div:nth-child(1) a, .footer__firstPart div:nth-child(2) a:hover{
    cursor: pointer;
}

.footer__firstPart div:nth-child(2) h1{
    opacity: 1;
}

.footer__firstPart > div:nth-child(4) a, .footer__firstPart > div:nth-child(5) a{
    display: inline-block;

}

.footer__firstPart > div:nth-child(4) a > img, .footer__firstPart > div:nth-child(5) a > img{
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 12px;
    line-height: 25px;
    margin-right: 10px;
}

.footer__firstPart__doiTac a{
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.footer__firstPart__doiTac img{
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 50%;
}

.horizontalRules {
    width: 60%;
    margin-bottom: 30px;
    height: 0.1px;
    background-color: rgb(255, 255, 255);
    opacity: 0.1 ;
}

.footer__secondPart{
    width: 60%;
}

.footer__secondPart__logo1 {
    border-radius: 5px;
    width: 80px;
    display: inline-block;
    height: 40px;
}

.footer__secondPart__title {
    font-size: 12px;
}


.footer__secondPart p {
    font-size: 12px;
    color:#949494;
    margin-bottom: 4px;
}

.footer__secondPart__logo2 {
    width: 130px;
    display: inline-block;
    height: 50px;
}
=======
    * {
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        overflow-x: hidden;
    }
    
    .clear-both {
        clear: both;
    }
    /* header */
    
    #header {
        background-color: rgb(255, 255, 255, 0.95);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.8;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    
    #header .navbar {
        padding: 0 35px 0 20px;
    }
    
    #header a {
        color: #333;
    }
    
    #header .right-navbar-nav a {
        color: #9b9b9b;
    }
    
    #header .right-navbar-nav .dang-nhap {
        border-right: 1px solid #9b9b9b;
        height: 40px;
    }
    
    #header .navbar-brand {
        width: 20%;
    }
    
    @media only screen and (max-width: 900px) {
        #header .navbar-brand {
            width: 5%;
        }
    }
    
    #header .navbar-brand img {
        width: 50px;
        height: 50px;
    }
    
    #header .navbar-nav img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    
    #header .navbar-nav .dropdown .nav-link {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    
    .dropdown-menu {
        top: 125%;
        max-height: 300px;
        overflow-y: scroll;
    }
    
    .dropdown-menu a.dropdown-item {
        color: #333!important;
        padding: 3px 20px;
        font-size: 14px;
        transition: 0.4s;
    }
    
    .dropdown-menu a.dropdown-item:hover {
        background-color: #60c5ef;
        color: white!important;
    }
    
    #header .navbar-nav .dropdown img {
        width: 15px;
        height: 15px;
    }
    
    #header .left-navbar-nav .nav-link {
        transition: 0.4s;
        padding: 15px;
    }
    
    #header .left-navbar-nav .nav-link:hover {
        color: #fb4226;
    }
    
    .dropdown-toggle::after {
        margin-left: 20px!important;
    }
    
    .navbar-brand img {
        transition: 0.5s;
        border-radius: 5px;
    }
    
    .navbar-brand img:hover {
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    }
    
    .navbar-nav.left-navbar-nav li {
        transition: 0.5s;
    }
    
    .navbar-nav.left-navbar-nav li:hover {
        transform: scale(1.2);
    }
    
    .navbar-nav.right-navbar-nav li {
        transition: 0.5s;
    }
    
    .navbar-nav.right-navbar-nav li:hover {
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    
    .right-navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
        transform: scaleY(1.35);
    }
    /*  */
    
    #header .left-navbar-nav {
        width: 350px;
        margin: 0 auto;
    }
    /*  */
    
    #header ::-webkit-scrollbar {
        width: 4px;
    }
    /* Track */
    
    #header ::-webkit-scrollbar-track {
        background: #e0e0e0;
        border-radius: 2px;
    }
    /* Handle */
    
    #header ::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 2px;
    }
    /* Handle on hover */
    
    #header ::-webkit-scrollbar-thumb:hover {
        background: #666;
    }
    /* side panel */
    
    #side-panel {
        width: 0;
        height: 100%;
        position: fixed;
        top: 0;
        right: -40px;
        z-index: 99;
        transition: 0.5s;
        background-color: #fff;
    }
    
    #side-panel-bg {
        position: absolute;
        top: 0;
        left: -50%;
        width: 50%;
        height: 100%;
        display: none;
        background-color: rgb(0, 0, 0, 0.5);
    }
    
    #side-panel .dang_nhap img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-right: 5px;
    }
    
    #side-panel .dang_nhap {
        position: relative;
    }
    
    #side-panel .dang_nhap .after-dn {
        position: absolute;
        top: 0px;
        right: 40px!important;
        font-size: 16px;
        transition: 0.4s;
        display: none;
    }
    
    #side-panel .dang_nhap .after-dn:hover {
        cursor: pointer;
        color: #fb4226!important;
        transform: scale(1.5);
    }
    
    #side-panel .list-link ul {
        list-style: none;
        padding: 0;
    }
    
    #side-panel .list-link ul li {
        padding: 20px 0;
    }
    
    #side-panel a {
        color: #333;
        text-decoration: none;
        transition: 0.4s;
        font-size: 16px;
    }
    
    #side-panel a:hover {
        color: #fb4226;
        font-size: 20px;
    }
    
    #side-panel .dropdown .dropdown-toggle {
        padding: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: #333;
        font-weight: 500;
        transition: 0.4s;
    }
    
    #side-panel .dropdown .dropdown-toggle:hover {
        color: #fb4226;
        font-size: 20px;
    }
    
    #side-panel .dropdown .dropdown-toggle::after {
        display: none;
    }
    
    #side-panel .dropdown .dropdown-menu {
        position: absolute;
        z-index: 100;
        top: -280px;
        left: 40%;
        transform: translateX(-58%);
        max-height: 650px;
        width: 120%;
        margin: auto;
        box-shadow: 10px 10px 1000px rgb(0, 0, 0, 0.9);
    }
    
    #side-panel .dropdown .dropdown-menu .dropdown-item {
        text-align: center;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }
    
    #side-panel .dropdown .dropdown-menu .dropdown-item.active {
        background-color: #60c5ef;
    }
    
    @media only screen and (min-width: 736px) and (max-width: 768px) {
        .navbar-header {
            float: none;
        }
        .navbar-toggler {
            display: none!important;
        }
        .navbar-collapse {
            flex-grow: 1;
            align-items: center;
        }
        .navbar-collapse.collapse {
            display: flex!important;
            flex-basis: auto;
        }
        .navbar-nav {
            flex-direction: row;
        }
        .navbar-nav.left-navbar-nav {
            display: none;
        }
        .navbar-brand {
            margin-right: 50%;
        }
        #header .navbar-nav .dropdown .dropdown-menu {
            position: absolute;
            z-index: 100;
        }
    }
    
    @media only screen and (max-width: 600px) {
        #side-panel .dropdown .dropdown-menu {
            transform: translateX(-70%);
            max-height: 600px;
            width: 100%;
        }
    }
    
    @media only screen and (max-width: 400px) {
        #side-panel .dropdown .dropdown-menu {
            transform: translateX(-60%);
            max-height: 500px;
            width: 80%;
        }
    }
    /* end header */
    
    #space {
        width: 100%;
        height: 60px;
        overflow-x: hidden;
    }
    /* carousel */
    
    #carousel {
        width: 100%;
        overflow-y: hidden;
        max-height: 650px;
    }
    
    #carousel .slick-carousel img {
        width: 100%;
        height: 100%;
    }
    
    #carousel .slick-carousel .slick-carousel-item {
        position: relative;
        border-right: 2px solid #333;
        border-left: 2px solid #333;
    }
    
    #carousel .slick-carousel .slick-carousel-item .venobox-carousel-contain {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 70px;
    }
    
    #carousel .slick-carousel .slick-carousel-item .venobox-carousel-contain a {
        display: block;
        width: 80px;
        height: 80px;
        margin: auto;
    }
    
    #carousel .slick-carousel .slick-carousel-item .venobox-carousel-contain img {
        width: 70px;
        height: 70px;
        margin: auto;
        border-radius: 50%;
        transition: 0.5s;
    }
    
    #carousel .slick-carousel .slick-carousel-item .venobox-carousel-contain img:hover {
        width: 80px;
        height: 80px;
        opacity: 0.75;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.9);
    }
    
    .vbox-close {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-image: url("../images/close.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        top: 20px;
        right: 50px;
        color: transparent!important;
        transition: 0.5s;
    }
    
    .vbox-close:hover {
        opacity: 0.75;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.9);
        transform: scale(1.2);
    }
    
    .slick-dots {
        bottom: 60px;
    }
    
    .slick-dots li {
        margin: 0;
    }
    
    .slick-dots li button:before {
        font-size: 50px!important;
        color: #fff;
        opacity: 1!important;
    }
    
    .slick-dots li.slick-active button:before {
        color: #fb4226!important;
    }
    
    .slick-next {
        height: 50px;
        width: 50px;
        background-image: url("../images/next-session.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        right: 20px;
        transition: 0.5s;
    }
    
    .slick-next:before {
        content: "";
    }
    
    .slick-prev:before {
        content: "";
    }
    
    .slick-next:hover,
    .slick-next:focus {
        background: url("../images/next-session.png") no-repeat center center!important;
        background-size: cover!important;
        height: 60px;
        width: 60px;
    }
    
    .slick-prev:hover,
    .slick-prev:focus {
        background: url("../images/back-session.png") no-repeat center center!important;
        background-size: cover!important;
        height: 60px;
        width: 60px;
    }
    
    .slick-prev {
        height: 50px;
        width: 50px;
        background-image: url("../images/back-session.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        left: 20px;
        transition: 0.5s;
    }
    
    @media only screen and (max-width: 600px) {
        .vbox-close {
            top: 100px;
            right: 30px;
        }
    }
    
    @media only screen and (max-width: 992px) {
        .slick-dots {
            bottom: 10px;
        }
    }
    
    @media only screen and (max-width: 500px) {
        #carousel .slick-carousel .slick-carousel-item .venobox-carousel-contain img {
            width: 40px;
            height: 40px;
        }
        #carousel .slick-carousel .slick-carousel-item .venobox-carousel-contain img:hover {
            width: 50px;
            height: 50px;
        }
        #carousel .slick-carousel .slick-carousel-item .venobox-carousel-contain a {
            width: 50px;
            height: 50px;
        }
        .slick-dots li button:before {
            font-size: 30px!important;
        }
        .slick-next {
            height: 30px;
            width: 30px;
        }
        .slick-prev {
            height: 30px;
            width: 30px;
        }
        .slick-next:hover,
        .slick-next:focus {
            height: 40px;
            width: 40px;
        }
        .slick-prev:hover,
        .slick-prev:focus {
            height: 40px;
            width: 40px;
        }
        #carousel .slick-carousel .slick-carousel-item .venobox-carousel-contain {
            top: 60%;
            transform: translateY(-60%);
        }
    }
    
     :focus {
        outline: none;
    }
    /* end carousel */
    /* homeTool */
    
    #homeTool ::-webkit-scrollbar {
        width: 4px;
    }
    
    #homeTool ::-webkit-scrollbar-track {
        background: #e0e0e0;
        border-radius: 2px;
    }
    
    #homeTool ::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 2px;
    }
    
    #homeTool ::-webkit-scrollbar-thumb:hover {
        background: #666;
    }
    
    #homeTool {
        position: relative;
    }
    
    #homeTool .card-body {
        padding: 1.25rem 0;
    }
    
    #homeTool .card {
        position: absolute;
        top: -60px;
        width: 100%;
        height: 80px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    }
    
    #homeTool .card .dropdown button {
        width: 100%;
        text-align: left;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }
    
    #homeTool .card .form-group button {
        width: 100%;
    }
    
    #homeTool .card .dropdown button.btn-primary {
        background-color: transparent!important;
        color: #000;
        border-top: none!important;
        border-bottom: none;
        border-left: none;
        box-shadow: none;
        border-radius: 0;
        border-color: #ddd;
    }
    
    #homeTool .card .dropdown .dropdown-menu {
        top: 50px;
        left: -30px;
        max-height: 300px;
    }
    
    #homeTool .card .dropdown #danh-sach-phim.dropdown-menu {
        left: -8px;
    }
    
    #homeTool .card .dropdown .dropdown-menu .dropdown-item {
        transition: 0.4s;
    }
    
    #homeTool .card .dropdown .dropdown-menu .dropdown-item:hover {
        transform: scaleY(1.35);
    }
    
    #homeTool .card .dropdown button::after {
        position: absolute;
        right: 10px;
        top: 45%;
        color: #aaa;
    }
    
    #homeTool .row {
        margin-left: 0;
        margin-right: 0;
    }
    
    @media only screen and (max-width: 1050px) {
        #homeTool.container-lg {
            margin-left: 2vw;
            margin-right: 0;
        }
    }
    
    @media only screen and (max-width: 1020px) {
        #homeTool.container-lg {
            margin-left: 10px;
            margin-right: 0;
        }
    }
    
    @media only screen and (max-width: 1000px) {
        #homeTool.container-lg {
            margin-left: 0;
            margin-right: 0;
        }
    }
    
    @media only screen and (max-width: 992px) {
        #homeTool {
            display: none;
        }
    }
    
    .show-side-panel {
        width: 80%;
    }
    
    .mainMaxWidth {
        max-width: 940px;
        margin: auto;
    }
    /* end homeTool */
    /* app */
    
    #app {
        overflow-x: hidden;
        margin-top: 50px;
        height: 600px;
        background-image: url("../images/backapp.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #app .mainMaxWidth {
        position: relative;
        height: 430px;
    }
    
    #app .mainMaxWidth .row {
        position: absolute;
        top: 70%;
        transform: translateY(-50%);
    }
    
    #app .mainMaxWidth .row .right-app-content {
        color: white;
    }
    
    #app .mainMaxWidth .row .right-app-content h2 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 55px;
        margin-bottom: 30px;
        padding-top: 50px;
    }
    
    #app .mainMaxWidth .row .right-app-content p {
        font-weight: 500;
        font-size: medium;
        margin-bottom: 30px;
    }
    
    #app .mainMaxWidth .row .right-app-content p a {
        text-decoration: none;
        color: white;
        border-bottom: 1.5px solid white;
        transition: 0.4s;
    }
    
    #app .mainMaxWidth .row .right-app-content p a:hover {
        color: #fb4226;
        border-bottom-color: #fb4226;
        padding: 5px 0;
    }
    
    #app .mainMaxWidth .row .right-app-content button {
        font-weight: 700;
        background-color: #fb4226;
        padding: 10px 20px;
        transition: 0.4s;
    }
    
    #app .mainMaxWidth .row .right-app-content button:hover {
        box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
    }
    /*  */
    
    #app .mainMaxWidth .row .left-app-content .constain {
        width: 200px;
        height: 425px;
        margin-left: 100px;
        background-image: url("../images/mobile.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 35px;
        overflow: hidden;
    }
    
    #app .mainMaxWidth .row .left-app-content .constain .app-item {
        height: 420px;
        width: 200px;
        position: relative;
    }
    
    #app .mainMaxWidth .row .left-app-content .constain .app-item img {
        width: 190px;
        height: 411px;
        border-radius: 20px;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    
    @media screen and (max-width: 1050px) {
        #app .mainMaxWidth .row .right-app-content {
            text-align: center;
        }
    }
    
    @media screen and (max-width: 992px) {
        #app {
            height: 140vw;
        }
        #app .mainMaxWidth {
            height: 100%;
        }
        #app .mainMaxWidth .row {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        #app .mainMaxWidth .row .right-app-content h2 {
            padding-top: 0;
        }
        #app .mainMaxWidth .row .left-app-content .constain {
            margin: auto;
            width: 350px;
            height: 755px;
            border-radius: 50px;
        }
        #app .mainMaxWidth .row .left-app-content .constain .app-item {
            height: 730px;
            width: 335px;
            position: relative;
        }
        #app .mainMaxWidth .row .left-app-content .constain .app-item img {
            height: 720px;
            width: 335px;
            border-radius: 30px;
            position: absolute;
            top: 15px;
            left: 7px;
        }
    }
    
    @media screen and (max-width: 800px) {
        #app {
            height: 140vw;
        }
        #app .mainMaxWidth {
            height: 100%;
        }
        #app .mainMaxWidth .row {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        #app .mainMaxWidth .row .right-app-content h2 {
            font-size: 24px;
            padding-top: 0;
        }
        #app .mainMaxWidth .row .right-app-content p {
            font-size: 14px;
        }
        #app .mainMaxWidth .row .left-app-content .constain {
            width: 40vw;
            height: 85vw;
            margin: auto;
            border-radius: 7vw;
        }
        #app .mainMaxWidth .row .left-app-content .constain .app-item {
            height: 84vw;
            width: 40vw;
        }
        #app .mainMaxWidth .row .left-app-content .constain .app-item img {
            width: 38vw;
            height: 82.2vw;
            border-radius: 4vw;
            top: 5px;
            left: 5px;
        }
    }
    
    @media screen and (max-width: 600px) {
        #app .mainMaxWidth .row .right-app-content h2 {
            font-size: 20px;
            line-height: 35px;
        }
        #app .mainMaxWidth .row .right-app-content p {
            font-size: 12px;
        }
        #app {
            height: 800px;
        }
        #app .mainMaxWidth .row .left-app-content .constain .app-item img {
            top: 3px;
            left: 3px;
        }
    }
    
    @media screen and (max-width: 400px) {
        #app {
            height: 700px;
        }
    }
    /*  */
    /* end app */
>>>>>>> a5744ba67b29dbd2a1184329af8117013347adce
